<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="droit">
            <h2><span jhiTranslate="rbRecapApp.droit.detail.title">Droit</span> {{droit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rbRecapApp.droit.name">Name</span></dt>
                <dd>
                    <span>{{droit.name}}</span>
                </dd>
                <dt><span jhiTranslate="rbRecapApp.droit.isSwitch">Is Switch</span></dt>
                <dd>
                    <span>{{droit.isSwitch}}</span>
                </dd>
                <dt><span jhiTranslate="rbRecapApp.droit.userStories">User Stories</span></dt>
                <dd>
                    <span *ngFor="let userStories of droit.userStories; let last = last">
                        <a [routerLink]="['/user-story', userStories?.id, 'view' ]">{{userStories.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/droit', droit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
